{% extends "projects/base.html" %}

{% block content %}

<h5>Insight</h5>
<br>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <i class="large material-icons blue-text">attach_money</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h6><strong>Customer lifetime value</strong></h6>
        <p>Aliquam volutpat lorem sodales elementum sollicitudin. Nulla dapibus tincidunt sem. Aliquam condimentum velit in ornare placerat.
          Donec sagittis tristique tellus in rutrum.
          Donec id nunc elementum, ultrices tellus vel, consequat purus. Nulla at urna in mi gravida porta id ut libero.</p>
      </div>
      <div class="card-action">
        <a href="#" class="blue-text">View project insights ></a>
      </div>
    </div>
  </div>

  <div class="card horizontal">
    <div class="card-image">
      <i class="large material-icons blue-text">dvr</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h6><strong>Product recommendations</strong></h6>
        <p>Phasellus nunc diam, tempor id dictum nec, aliquet id nisi. Vestibulum non tristique diam. Nulla mattis, justo ac interdum sodales,
          eros est ultrices neque, id imperdiet nisi sem et nibh. Nunc a ante ac erat gravida suscipit gravida non risus. In id gravida nulla. Suspendisse vestibulum convallis vestibulum.
          Aliquam eleifend lobortis nisl. Aenean egestas consequat nulla eget semper. Nulla quis mollis est.</p>
      </div>
      <div class="card-action">
        <a href="#" class="blue-text">View project insights ></a>
      </div>
    </div>
  </div>

  <div class="card horizontal">
    <div class="card-image">
      <i class="large material-icons blue-text">loyalty</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h6><strong>Customer lifetime value</strong></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus sapien at accumsan dapibus.
          Nullam non ultrices est. Nam malesuada eleifend felis placerat placerat.</p>
      </div>
      <div class="card-action">
        <a href="#" class="blue-text">View project insights ></a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
